{% extends '_layouts/elementindex.twig' %}
{% set elementType = 'craft\\elements\\Asset' %}
{% set title = "Serverless Transforms"|t('aws-serverless-image-handler') %}

{% set crumbs = [
    {
        label: 'Assets'|t('aws-serverless-image-handler'),
        url: url('assets'),
    },
    {
        label: 'AWS Serverless Image Handler'|t('aws-serverless-image-handler'),
        url: url('aws-serverless-image-handler/list'),
    },
] %}

{% block content %}
    <p>Page content goes here</p>
{% endblock %}